<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body p-4">
          <div class="row text-left justify-content-between align-items-center mb-2">
            <div class="col-auto">
              <h5 id="modalLabel">Register</h5>
            </div>
            <div class="col-auto">
              <p class="fs--1 text-600 mb-0">Have an account? <a href="/authentication/basic/login.html">Login</a></p>
            </div>
          </div>
          <form>
            <div class="form-group"><input class="form-control" type="text" placeholder="Name" /></div>
            <div class="form-group"><input class="form-control" type="email" placeholder="Email address" /></div>
            <div class="form-row">
              <div class="form-group col-6"><input class="form-control" type="password" placeholder="Password" /></div>
              <div class="form-group col-6"><input class="form-control" type="password" placeholder="Confirm Password" /></div>
            </div>
            <div class="custom-control custom-checkbox"><input class="custom-control-input" type="checkbox" id="modal-register-checkbox" /><label class="custom-control-label" for="modal-register-checkbox">I accept the <a href="#!">terms </a>and <a href="#!">privacy policy</a></label></div>
            <div class="form-group"><button class="btn btn-primary btn-block mt-3" type="submit" name="submit">Register</button></div>
          </form>
          <div class="w-100 position-relative mt-4">
            <hr class="text-300" />
            <div class="position-absolute absolute-centered t-0 px-3 bg-white text-sans-serif fs--1 text-500 text-nowrap">or register with</div>
          </div>
          <div class="form-group mb-0">
            <div class="row no-gutters">
              <div class="col-sm-6 pr-sm-1"><a class="btn btn-outline-google-plus btn-sm btn-block mt-2" href="#"><span class="fab fa-google-plus-g mr-2" data-fa-transform="grow-8"></span> google</a></div>
              <div class="col-sm-6 pl-sm-1"><a class="btn btn-outline-facebook btn-sm btn-block mt-2" href="#"><span class="fab fa-facebook-square mr-2" data-fa-transform="grow-8"></span> facebook</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>