  <!-- ============================================-->
      <!-- <section> begin ============================-->
        <section>
            <div class="container">
              <div class="row justify-content-center text-center">
                <div class="col-lg-8 col-xl-7 col-xxl-6">
                  <h1 class="fs-2 fs-sm-4 fs-md-5">Start your social media campaign from here</h1>
                  <p class="lead">Built your campaign over every social networking platform that our users reach.</p>
                </div>
              </div>
              <div class="row align-items-center justify-content-center mt-8">
                <div class="col-md col-lg-5 col-xl-4 pl-lg-6"><img class="img-fluid px-6 px-md-0" src="/assets/img/illustrations/6.png" alt="" /></div>
                <div class="col-md col-lg-5 col-xl-4 mt-4 mt-md-0">
                  <h5 class="text-danger"><span class="far fa-lightbulb mr-2"></span>PLAN</h5>
                  <h3>Set tasks and goals</h3>
                  <p>With Infintity ID, there is no limit of the amount of users you can hit if you are a preimum member.</p>
                </div>
              </div>
              <div class="row align-items-center justify-content-center mt-7">
                <div class="col-md col-lg-5 col-xl-4 pr-lg-6 order-md-2"><img class="img-fluid px-6 px-md-0" src="/assets/img/illustrations/5.png" alt="" /></div>
                <div class="col-md col-lg-5 col-xl-4 mt-4 mt-md-0">
                  <h5 class="text-info"> <span class="far fa-object-ungroup mr-2"></span>BUILD</h5>
                  <h3>Set Yourself a limit But Its Up To You</h3>
                  <p>Tell the commmunity how much your willing to pay for likes , vidoes and comments. Using your dashboard connect with other users </p>
                </div>
              </div>
              <div class="row align-items-center justify-content-center mt-7">
                <div class="col-md col-lg-5 col-xl-4 pl-lg-6"><img class="img-fluid px-6 px-md-0" src="/assets/img/illustrations/4.png" alt="" /></div>
                <div class="col-md col-lg-5 col-xl-4 mt-4 mt-md-0">
                  <h5 class="text-success"><span class="far fa-paper-plane mr-2"></span>DEPLOY</h5>
                  <h3>Review and test</h3>
                  <p>All maner of likes and comments on the platforms about that subject that you want to talk about.</p>
                </div>
              </div>
            </div><!-- end of .container-->
          </section><!-- <section> close ============================-->
          <!-- ============================================-->
    
    