
      <!-- ============================================-->
      <!-- <section> begin ============================-->
        <section class="bg-200 text-center">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-9 col-xl-8">
                  <div class="owl-carousel owl-theme owl-theme-dark" data-options='{"margin":30,"nav":true,"autoplay":true,"autoplayHoverPause":true,"loop":true,"dots":false,"items":1}'>
                    <div class="px-5 px-sm-6">
                      <p class="fs-sm-1 fs-md-2 font-italic text-dark">Falcon is the best option if you are looking for a theme built with Bootstrap. On top of that, Falcon's creators and support staff are very brilliant and attentive to users' needs.</p>
                      <p class="fs-0 text-600">- Scott Tolinski, Web Developer</p><img class="w-auto mx-auto" src="/assets/img/logos/google.png" alt="" height="45" />
                    </div>
                    <div class="px-5 px-sm-6">
                      <p class="fs-sm-1 fs-md-2 font-italic text-dark">We've become fanboys! Easy to change the modular design, great dashboard UI, enterprise-class support, fast loading time. What else do you want from a Bootstrap Theme?</p>
                      <p class="fs-0 text-600">- Jeff Escalante, Developer</p><img class="w-auto mx-auto" src="/assets/img/logos/netflix.png" alt="" height="30" />
                    </div>
                    <div class="px-5 px-sm-6">
                      <p class="fs-sm-1 fs-md-2 font-italic text-dark">When I first saw Falcon, I was totally blown away by the care taken in the interface. It felt like something that I'd really want to use and something I could see being a true modern replacement to the current class of Bootstrap themes.</p>
                      <p class="fs-0 text-600">- Liam Martens, Designer</p><img class="w-auto mx-auto" src="/assets/img/logos/paypal.png" alt="" height="45" />
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- end of .container-->
          </section><!-- <section> close ============================-->
          <!-- ============================================-->
    
    