<div data-elementor-type="wp-page" data-elementor-id="174" class="elementor elementor-174" data-elementor-settings="[]">
    <div class="elementor-inner">
        <div class="elementor-section-wrap">
        <section class="elementor-section elementor-top-section elementor-element elementor-element-213557bd elementor-section-height-min-height elementor-section-items-top elementor-section-boxed elementor-section-height-default" data-id="213557bd" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-38bebd2" data-id="38bebd2" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
        <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-7a1ccf09 elementor-widget elementor-widget-heading" data-id="7a1ccf09" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="elementor-heading-title elementor-size-default">Welcome To</h2>		</div>
</div>
<div class="elementor-element elementor-element-4fec74be elementor-widget elementor-widget-heading" data-id="4fec74be" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="elementor-heading-title elementor-size-default">Vikinger</h2>		</div>
</div>
<div class="elementor-element elementor-element-14b48ca8 el-vk-landing-info elementor-widget elementor-widget-text-editor" data-id="14b48ca8" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
<div class="elementor-text-editor elementor-clearfix"><p><strong>The next generation WordPress+Buddypress social community!</strong> Connect with your friends with full profiles, reactions, groups,badges, quests, ranks, credits and<strong> much more to come!</strong></p></div>
</div>
</div>
<section class="elementor-section elementor-inner-section elementor-element elementor-element-3f6fa0ad elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="3f6fa0ad" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-491abf91" data-id="491abf91" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
        <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-3d30b20e elementor-align-right elementor-tablet-align-center elementor-widget elementor-widget-button" data-id="3d30b20e" data-element_type="widget" data-widget_type="button.default">
<div class="elementor-widget-container">
<div class="elementor-button-wrapper">
<a href="https://themeforest.net/item/vikinger-buddypress-and-gamipress-social-community/28612259" target="_blank" class="elementor-button-link elementor-button elementor-size-sm" role="button">
    <span class="elementor-button-content-wrapper">
    <span class="elementor-button-text">Download Now!</span>
</span>
</a>
</div>
</div>
</div>
    </div>
</div>
</div>
<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-4823381b" data-id="4823381b" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
        <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-1b44f2cf elementor-align-left elementor-tablet-align-center elementor-widget elementor-widget-button" data-id="1b44f2cf" data-element_type="widget" data-widget_type="button.default">
<div class="elementor-widget-container">
<div class="elementor-button-wrapper">
<a href="https://themeforest.net/item/vikinger-buddypress-and-gamipress-social-community/28612259" target="_blank" class="elementor-button-link elementor-button elementor-size-sm" role="button">
    <span class="elementor-button-content-wrapper">
    <span class="elementor-button-text">About Features</span>
</span>
</a>
</div>
</div>
</div>
    </div>
</div>
</div>
            </div>
</div>
</section>
    </div>
</div>
</div>
<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3a2e2d5b el-vk-login-form" data-id="3a2e2d5b" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
        <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-160ae7b9 elementor-widget elementor-widget-vk-login-register" data-id="160ae7b9" data-element_type="widget" data-widget_type="vk-login-register.default">
<div class="elementor-widget-container">

<!-- FORM BOX -->
<div class="form-box ">
<!-- FORM BOX TAB ITEMS -->
<div class="form-box-tab-items">
<!-- FORM BOX CONTENT -->
<div class="form-box-content ">
<h2 class="form-box-title">Account Login</h2>

<!-- FORM -->
<form class="form vk-login-form">
<!-- FORM ROW -->
<div class="form-row">
<!-- FORM ITEM -->
<div class="form-item">
<!-- FORM INPUT -->
<div class="form-input">
<label for="login_username">Username or Email</label>
<input type="text" id="login_username" name="login_username">
</div>
<!-- /FORM INPUT -->
</div>
<!-- /FORM ITEM -->
</div>
<!-- /FORM ROW -->

<!-- FORM ROW -->
<div class="form-row">
<!-- FORM ITEM -->
<div class="form-item">
<!-- FORM INPUT -->
<div class="form-input">
<label for="login_password">Password</label>
<input type="password" id="login_password" name="login_password">
</div>
<!-- /FORM INPUT -->
</div>
<!-- /FORM ITEM -->
</div>
<!-- /FORM ROW -->

<!-- FORM ROW -->
<div class="form-row">
<!-- FORM ITEM -->
<div class="form-item">
<!-- CHECKBOX WRAP -->
<div class="checkbox-wrap">
<input type="checkbox" id="login_remember" name="login_remember" checked>

<!-- CHECKBOX BOX -->
<div class="checkbox-box">

<!-- ICON SVG -->
<svg class="icon-cross ">
<use href="#svg-cross"></use>
</svg>
<!-- ICON SVG -->              </div>
<!-- /CHECKBOX BOX -->
<label for="login_remember">Remember Me</label>
</div>
<!-- /CHECKBOX WRAP -->
</div>
<!-- /FORM ITEM -->
</div>
<!-- /FORM ROW -->

<!-- FORM ROW -->
<div class="form-row">
<!-- FORM ITEM -->
<div class="form-item">
<!-- BUTTON -->
<button class="form-submit-button button medium secondary" name="login_submit">
<span class="form-submit-text">Login to your Account</span>
<span class="form-submitting-text">Authenticating...</span>

<!-- LOADER SPINNER WRAP -->
<span class="loader-spinner-wrap small">
<!-- LOADER SPINNER -->
<span class="loader-spinner"></span>
<!-- /LOADER SPINNER -->
</span>
<!-- /LOADER SPINNER WRAP -->            </button>
<!-- /BUTTON -->
</div>
<!-- /FORM ITEM -->
</div>
<!-- /FORM ROW -->
</form>
<!-- /FORM -->
</div>
<!-- /FORM BOX CONTENT -->

</div>
<!-- FORM BOX TAB ITEMS -->
</div>
<!-- /FORM BOX -->		</div>
</div>
    </div>
</div>
</div>
            </div>
</div>
</section>
    </div>
    </div>
</div>