
<!-- NAVIGATION WIDGET -->
<nav id="navigation-widget-small" class="navigation-widget navigation-widget-desktop navigation-widget-closed sidebar left navigation-widget-delayed">

    <!-- MENU -->
    <ul class="menu small">
      <!-- MENU ITEM -->
      <li class="menu-item ">
        <!-- MENU ITEM LINK -->
        <a  class="menu-item-link text-tooltip-tfr"
            href="https://odindesignthemes.com/vikinger-theme/activity/"
            data-title="Newsfeed"
        >
        
    <!-- ICON SVG -->
    <svg class="icon-newsfeed menu-item-link-icon">
      <use href="#svg-newsfeed"></use>
    </svg>
    <!-- ICON SVG -->    </a>
        <!-- /MENU ITEM LINK -->
    
          </li>
      <!-- /MENU ITEM -->
      <!-- MENU ITEM -->
      <li class="menu-item ">
        <!-- MENU ITEM LINK -->
        <a  class="menu-item-link text-tooltip-tfr"
            href="https://odindesignthemes.com/vikinger-theme/members/"
            data-title="Members"
        >
        
    <!-- ICON SVG -->
    <svg class="icon-members menu-item-link-icon">
      <use href="#svg-members"></use>
    </svg>
    <!-- ICON SVG -->    </a>
        <!-- /MENU ITEM LINK -->
    
          </li>
      <!-- /MENU ITEM -->
      <!-- MENU ITEM -->
      <li class="menu-item ">
        <!-- MENU ITEM LINK -->
        <a  class="menu-item-link text-tooltip-tfr"
            href="https://odindesignthemes.com/vikinger-theme/groups/"
            data-title="Groups"
        >
        
    <!-- ICON SVG -->
    <svg class="icon-group menu-item-link-icon">
      <use href="#svg-group"></use>
    </svg>
    <!-- ICON SVG -->    </a>
        <!-- /MENU ITEM LINK -->
    
          </li>
      <!-- /MENU ITEM -->
      <!-- MENU ITEM -->
      <li class="menu-item ">
        <!-- MENU ITEM LINK -->
        <a  class="menu-item-link text-tooltip-tfr"
            href="https://odindesignthemes.com/vikinger-theme/badges/"
            data-title="Badges"
        >
        
    <!-- ICON SVG -->
    <svg class="icon-badges menu-item-link-icon">
      <use href="#svg-badges"></use>
    </svg>
    <!-- ICON SVG -->    </a>
        <!-- /MENU ITEM LINK -->
    
          </li>
      <!-- /MENU ITEM -->
      <!-- MENU ITEM -->
      <li class="menu-item ">
        <!-- MENU ITEM LINK -->
        <a  class="menu-item-link text-tooltip-tfr"
            href="https://odindesignthemes.com/vikinger-theme/quests/"
            data-title="Quests"
        >
        
    <!-- ICON SVG -->
    <svg class="icon-quests menu-item-link-icon">
      <use href="#svg-quests"></use>
    </svg>
    <!-- ICON SVG -->    </a>
        <!-- /MENU ITEM LINK -->
    
          </li>
      <!-- /MENU ITEM -->
      <!-- MENU ITEM -->
      <li class="menu-item ">
        <!-- MENU ITEM LINK -->
        <a  class="menu-item-link text-tooltip-tfr"
            href="https://odindesignthemes.com/vikinger-theme/ranks/"
            data-title="Ranks"
        >
        
    <!-- ICON SVG -->
    <svg class="icon-ranks menu-item-link-icon">
      <use href="#svg-ranks"></use>
    </svg>
    <!-- ICON SVG -->    </a>
        <!-- /MENU ITEM LINK -->
    
          </li>
      <!-- /MENU ITEM -->
      <!-- MENU ITEM -->
      <li class="menu-item ">
        <!-- MENU ITEM LINK -->
        <a  class="menu-item-link text-tooltip-tfr"
            href="https://odindesignthemes.com/vikinger-theme/credits/"
            data-title="Credits"
        >
        
    <!-- ICON SVG -->
    <svg class="icon-credits menu-item-link-icon">
      <use href="#svg-credits"></use>
    </svg>
    <!-- ICON SVG -->    </a>
        <!-- /MENU ITEM LINK -->
    
          </li>
      <!-- /MENU ITEM -->
      <!-- MENU ITEM -->
      <li class="menu-item ">
        <!-- MENU ITEM LINK -->
        <a  class="menu-item-link text-tooltip-tfr"
            href="https://odindesignthemes.com/vikinger-theme/blog/"
            data-title="Blog"
        >
        
    <!-- ICON SVG -->
    <svg class="icon-blog-posts menu-item-link-icon">
      <use href="#svg-blog-posts"></use>
    </svg>
    <!-- ICON SVG -->    </a>
        <!-- /MENU ITEM LINK -->
    
          </li>
      <!-- /MENU ITEM -->
      <!-- MENU ITEM -->
      <li class="menu-item ">
        <!-- MENU ITEM LINK -->
        <a  class="menu-item-link text-tooltip-tfr"
            href="https://odindesignthemes.com/vikinger-theme/forums/"
            data-title="Forums"
        >
        
    <!-- ICON SVG -->
    <svg class="icon-forums menu-item-link-icon">
      <use href="#svg-forums"></use>
    </svg>
    <!-- ICON SVG -->    </a>
        <!-- /MENU ITEM LINK -->
    
          </li>
      <!-- /MENU ITEM -->
    </ul>
    <!-- /MENU --></nav>
    <!-- /NAVIGATION WIDGET -->
    
    <!-- NAVIGATION WIDGET -->
    <nav id="navigation-widget" class="navigation-widget navigation-widget-desktop sidebar left navigation-widget-hidden" data-simplebar>
    
    <!-- MENU -->
    <ul class="menu ">
      <!-- MENU ITEM -->
      <li class="menu-item ">
        <!-- MENU ITEM LINK -->
        <a  class="menu-item-link "
            href="https://odindesignthemes.com/vikinger-theme/activity/"
            data-title="Newsfeed"
        >
        
    <!-- ICON SVG -->
    <svg class="icon-newsfeed menu-item-link-icon">
      <use href="#svg-newsfeed"></use>
    </svg>
    <!-- ICON SVG -->Newsfeed    </a>
        <!-- /MENU ITEM LINK -->
    
          </li>
      <!-- /MENU ITEM -->
      <!-- MENU ITEM -->
      <li class="menu-item ">
        <!-- MENU ITEM LINK -->
        <a  class="menu-item-link "
            href="https://odindesignthemes.com/vikinger-theme/members/"
            data-title="Members"
        >
        
    <!-- ICON SVG -->
    <svg class="icon-members menu-item-link-icon">
      <use href="#svg-members"></use>
    </svg>
    <!-- ICON SVG -->Members    </a>
        <!-- /MENU ITEM LINK -->
    
          </li>
      <!-- /MENU ITEM -->
      <!-- MENU ITEM -->
      <li class="menu-item ">
        <!-- MENU ITEM LINK -->
        <a  class="menu-item-link "
            href="https://odindesignthemes.com/vikinger-theme/groups/"
            data-title="Groups"
        >
        
    <!-- ICON SVG -->
    <svg class="icon-group menu-item-link-icon">
      <use href="#svg-group"></use>
    </svg>
    <!-- ICON SVG -->Groups    </a>
        <!-- /MENU ITEM LINK -->
    
          </li>
      <!-- /MENU ITEM -->
      <!-- MENU ITEM -->
      <li class="menu-item ">
        <!-- MENU ITEM LINK -->
        <a  class="menu-item-link "
            href="https://odindesignthemes.com/vikinger-theme/badges/"
            data-title="Badges"
        >
        
    <!-- ICON SVG -->
    <svg class="icon-badges menu-item-link-icon">
      <use href="#svg-badges"></use>
    </svg>
    <!-- ICON SVG -->Badges    </a>
        <!-- /MENU ITEM LINK -->
    
          </li>
      <!-- /MENU ITEM -->
      <!-- MENU ITEM -->
      <li class="menu-item ">
        <!-- MENU ITEM LINK -->
        <a  class="menu-item-link "
            href="https://odindesignthemes.com/vikinger-theme/quests/"
            data-title="Quests"
        >
        
    <!-- ICON SVG -->
    <svg class="icon-quests menu-item-link-icon">
      <use href="#svg-quests"></use>
    </svg>
    <!-- ICON SVG -->Quests    </a>
        <!-- /MENU ITEM LINK -->
    
          </li>
      <!-- /MENU ITEM -->
      <!-- MENU ITEM -->
      <li class="menu-item ">
        <!-- MENU ITEM LINK -->
        <a  class="menu-item-link "
            href="https://odindesignthemes.com/vikinger-theme/ranks/"
            data-title="Ranks"
        >
        
    <!-- ICON SVG -->
    <svg class="icon-ranks menu-item-link-icon">
      <use href="#svg-ranks"></use>
    </svg>
    <!-- ICON SVG -->Ranks    </a>
        <!-- /MENU ITEM LINK -->
    
          </li>
      <!-- /MENU ITEM -->
      <!-- MENU ITEM -->
      <li class="menu-item ">
        <!-- MENU ITEM LINK -->
        <a  class="menu-item-link "
            href="https://odindesignthemes.com/vikinger-theme/credits/"
            data-title="Credits"
        >
        
    <!-- ICON SVG -->
    <svg class="icon-credits menu-item-link-icon">
      <use href="#svg-credits"></use>
    </svg>
    <!-- ICON SVG -->Credits    </a>
        <!-- /MENU ITEM LINK -->
    
          </li>
      <!-- /MENU ITEM -->
      <!-- MENU ITEM -->
      <li class="menu-item ">
        <!-- MENU ITEM LINK -->
        <a  class="menu-item-link "
            href="https://odindesignthemes.com/vikinger-theme/blog/"
            data-title="Blog"
        >
        
    <!-- ICON SVG -->
    <svg class="icon-blog-posts menu-item-link-icon">
      <use href="#svg-blog-posts"></use>
    </svg>
    <!-- ICON SVG -->Blog    </a>
        <!-- /MENU ITEM LINK -->
    
          </li>
      <!-- /MENU ITEM -->
      <!-- MENU ITEM -->
      <li class="menu-item ">
        <!-- MENU ITEM LINK -->
        <a  class="menu-item-link "
            href="https://odindesignthemes.com/vikinger-theme/forums/"
            data-title="Forums"
        >
        
    <!-- ICON SVG -->
    <svg class="icon-forums menu-item-link-icon">
      <use href="#svg-forums"></use>
    </svg>
    <!-- ICON SVG -->Forums    </a>
        <!-- /MENU ITEM LINK -->
    
          </li>
      <!-- /MENU ITEM -->
    </ul>
    <!-- /MENU --></nav>
    <!-- /NAVIGATION WIDGET -->
    
    <!-- NAVIGATION WIDGET -->
    <nav id="navigation-widget-mobile" class="navigation-widget navigation-widget-mobile sidebar left navigation-widget-hidden" data-simplebar>
      <!-- NAVIGATION WIDGET CLOSE BUTTON -->
      <div class="navigation-widget-close-button">
      
    <!-- ICON SVG -->
    <svg class="icon-back-arrow navigation-widget-close-button-icon">
      <use href="#svg-back-arrow"></use>
    </svg>
    <!-- ICON SVG -->  </div>
      <!-- /NAVIGATION WIDGET CLOSE BUTTON -->
    
      <!-- NAVIGATION WIDGET ACTIONS -->
      <div class="navigation-widget-actions">
        
        <!-- BUTTON -->
        <a class="button primary login-button" href="https://odindesignthemes.com/vikinger-theme/wp-login.php">Login</a>
        <!-- /BUTTON -->
      </div>
      <!-- /NAVIGATION WIDGET ACTIONS -->
    
      <!-- NAVIGATION WIDGET SECTION -->
      <div class="navigation-widget-section">
        <!-- NAVIGATION WIDGET SECTION TITLE -->
        <p class="navigation-widget-section-title">Sections</p>
        <!-- /NAVIGATION WIDGET SECTION TITLE -->
    
      
    <!-- MENU -->
    <ul class="menu ">
      <!-- MENU ITEM -->
      <li class="menu-item ">
        <!-- MENU ITEM LINK -->
        <a  class="menu-item-link "
            href="https://odindesignthemes.com/vikinger-theme/activity/"
            data-title="Newsfeed"
        >
        
    <!-- ICON SVG -->
    <svg class="icon-newsfeed menu-item-link-icon">
      <use href="#svg-newsfeed"></use>
    </svg>
    <!-- ICON SVG -->Newsfeed    </a>
        <!-- /MENU ITEM LINK -->
    
          </li>
      <!-- /MENU ITEM -->
      <!-- MENU ITEM -->
      <li class="menu-item ">
        <!-- MENU ITEM LINK -->
        <a  class="menu-item-link "
            href="https://odindesignthemes.com/vikinger-theme/members/"
            data-title="Members"
        >
        
    <!-- ICON SVG -->
    <svg class="icon-members menu-item-link-icon">
      <use href="#svg-members"></use>
    </svg>
    <!-- ICON SVG -->Members    </a>
        <!-- /MENU ITEM LINK -->
    
          </li>
      <!-- /MENU ITEM -->
      <!-- MENU ITEM -->
      <li class="menu-item ">
        <!-- MENU ITEM LINK -->
        <a  class="menu-item-link "
            href="https://odindesignthemes.com/vikinger-theme/groups/"
            data-title="Groups"
        >
        
    <!-- ICON SVG -->
    <svg class="icon-group menu-item-link-icon">
      <use href="#svg-group"></use>
    </svg>
    <!-- ICON SVG -->Groups    </a>
        <!-- /MENU ITEM LINK -->
    
          </li>
      <!-- /MENU ITEM -->
      <!-- MENU ITEM -->
      <li class="menu-item ">
        <!-- MENU ITEM LINK -->
        <a  class="menu-item-link "
            href="https://odindesignthemes.com/vikinger-theme/badges/"
            data-title="Badges"
        >
        
    <!-- ICON SVG -->
    <svg class="icon-badges menu-item-link-icon">
      <use href="#svg-badges"></use>
    </svg>
    <!-- ICON SVG -->Badges    </a>
        <!-- /MENU ITEM LINK -->
    
          </li>
      <!-- /MENU ITEM -->
      <!-- MENU ITEM -->
      <li class="menu-item ">
        <!-- MENU ITEM LINK -->
        <a  class="menu-item-link "
            href="https://odindesignthemes.com/vikinger-theme/quests/"
            data-title="Quests"
        >
        
    <!-- ICON SVG -->
    <svg class="icon-quests menu-item-link-icon">
      <use href="#svg-quests"></use>
    </svg>
    <!-- ICON SVG -->Quests    </a>
        <!-- /MENU ITEM LINK -->
    
          </li>
      <!-- /MENU ITEM -->
      <!-- MENU ITEM -->
      <li class="menu-item ">
        <!-- MENU ITEM LINK -->
        <a  class="menu-item-link "
            href="https://odindesignthemes.com/vikinger-theme/ranks/"
            data-title="Ranks"
        >
        
    <!-- ICON SVG -->
    <svg class="icon-ranks menu-item-link-icon">
      <use href="#svg-ranks"></use>
    </svg>
    <!-- ICON SVG -->Ranks    </a>
        <!-- /MENU ITEM LINK -->
    
          </li>
      <!-- /MENU ITEM -->
      <!-- MENU ITEM -->
      <li class="menu-item ">
        <!-- MENU ITEM LINK -->
        <a  class="menu-item-link "
            href="https://odindesignthemes.com/vikinger-theme/credits/"
            data-title="Credits"
        >
        
    <!-- ICON SVG -->
    <svg class="icon-credits menu-item-link-icon">
      <use href="#svg-credits"></use>
    </svg>
    <!-- ICON SVG -->Credits    </a>
        <!-- /MENU ITEM LINK -->
    
          </li>
      <!-- /MENU ITEM -->
      <!-- MENU ITEM -->
      <li class="menu-item ">
        <!-- MENU ITEM LINK -->
        <a  class="menu-item-link "
            href="https://odindesignthemes.com/vikinger-theme/blog/"
            data-title="Blog"
        >
        
    <!-- ICON SVG -->
    <svg class="icon-blog-posts menu-item-link-icon">
      <use href="#svg-blog-posts"></use>
    </svg>
    <!-- ICON SVG -->Blog    </a>
        <!-- /MENU ITEM LINK -->
    
          </li>
      <!-- /MENU ITEM -->
      <!-- MENU ITEM -->
      <li class="menu-item ">
        <!-- MENU ITEM LINK -->
        <a  class="menu-item-link "
            href="https://odindesignthemes.com/vikinger-theme/forums/"
            data-title="Forums"
        >
        
    <!-- ICON SVG -->
    <svg class="icon-forums menu-item-link-icon">
      <use href="#svg-forums"></use>
    </svg>
    <!-- ICON SVG -->Forums    </a>
        <!-- /MENU ITEM LINK -->
    
          </li>
      <!-- /MENU ITEM -->
    </ul>
    <!-- /MENU -->  </div>
      <!-- /NAVIGATION WIDGET SECTION -->
    
    
    <!-- NAVIGATION WIDGET SECTION -->
    <div class="navigation-widget-section space-top">
      <!-- NAVIGATION WIDGET SECTION TITLE -->
      <p class="navigation-widget-section-title">Main Links</p>
      <!-- /NAVIGATION WIDGET SECTION TITLE -->
    
    
    <!-- NAVIGATION WIDGET SECTION MENU -->
    <ul class="navigation-widget-section-menu">
      <!-- NAVIGATION WIDGET SECTION MENU ITEM -->
      <li class="navigation-widget-section-menu-item">
        <!-- NAVIGATION WIDGET SECTION MENU ITEM LINK -->
        <a class="navigation-widget-section-menu-item-link" href="https://odindesignthemes.com/vikinger-theme/">Home</a>
        <!-- /NAVIGATION WIDGET SECTION MENU ITEM LINK -->
    
          </li>
      <!-- /NAVIGATION WIDGET SECTION MENU ITEM -->
      <!-- NAVIGATION WIDGET SECTION MENU ITEM -->
      <li class="navigation-widget-section-menu-item">
        <!-- NAVIGATION WIDGET SECTION MENU ITEM LINK -->
        <a class="navigation-widget-section-menu-item-link" href="#">More</a>
        <!-- /NAVIGATION WIDGET SECTION MENU ITEM LINK -->
    
        
    <!-- NAVIGATION WIDGET SECTION MENU -->
    <ul class="navigation-widget-section-menu">
      <!-- NAVIGATION WIDGET SECTION MENU ITEM -->
      <li class="navigation-widget-section-menu-item">
        <!-- NAVIGATION WIDGET SECTION MENU ITEM LINK -->
        <a class="navigation-widget-section-menu-item-link" href="https://themeforest.net/user/odin_design">Other Items</a>
        <!-- /NAVIGATION WIDGET SECTION MENU ITEM LINK -->
    
          </li>
      <!-- /NAVIGATION WIDGET SECTION MENU ITEM -->
      <!-- NAVIGATION WIDGET SECTION MENU ITEM -->
      <li class="navigation-widget-section-menu-item">
        <!-- NAVIGATION WIDGET SECTION MENU ITEM LINK -->
        <a class="navigation-widget-section-menu-item-link" href="https://odindesignthemes.com/">Our Website</a>
        <!-- /NAVIGATION WIDGET SECTION MENU ITEM LINK -->
    
          </li>
      <!-- /NAVIGATION WIDGET SECTION MENU ITEM -->
    </ul>
    <!-- /NAVIGATION WIDGET SECTION MENU -->  </li>
      <!-- /NAVIGATION WIDGET SECTION MENU ITEM -->
    </ul>
    <!-- /NAVIGATION WIDGET SECTION MENU --></div>
    <!-- /NAVIGATION WIDGET SECTION -->
    <!-- NAVIGATION WIDGET SECTION -->
    <div class="navigation-widget-section ">
      <!-- NAVIGATION WIDGET SECTION TITLE -->
      <p class="navigation-widget-section-title">BuddyPress</p>
      <!-- /NAVIGATION WIDGET SECTION TITLE -->
    
    
    <!-- NAVIGATION WIDGET SECTION MENU -->
    <ul class="navigation-widget-section-menu">
      <!-- NAVIGATION WIDGET SECTION MENU ITEM -->
      <li class="navigation-widget-section-menu-item">
        <!-- NAVIGATION WIDGET SECTION MENU ITEM LINK -->
        <a class="navigation-widget-section-menu-item-link" href="https://odindesignthemes.com/vikinger-theme/members/odindesign-themes/">Profile Timeline</a>
        <!-- /NAVIGATION WIDGET SECTION MENU ITEM LINK -->
    
          </li>
      <!-- /NAVIGATION WIDGET SECTION MENU ITEM -->
      <!-- NAVIGATION WIDGET SECTION MENU ITEM -->
      <li class="navigation-widget-section-menu-item">
        <!-- NAVIGATION WIDGET SECTION MENU ITEM LINK -->
        <a class="navigation-widget-section-menu-item-link" href="https://odindesignthemes.com/vikinger-theme/members/odindesign-themes/about/">Profile About</a>
        <!-- /NAVIGATION WIDGET SECTION MENU ITEM LINK -->
    
          </li>
      <!-- /NAVIGATION WIDGET SECTION MENU ITEM -->
      <!-- NAVIGATION WIDGET SECTION MENU ITEM -->
      <li class="navigation-widget-section-menu-item">
        <!-- NAVIGATION WIDGET SECTION MENU ITEM LINK -->
        <a class="navigation-widget-section-menu-item-link" href="https://odindesignthemes.com/vikinger-theme/members/odindesign-themes/friends/">Profile Friends</a>
        <!-- /NAVIGATION WIDGET SECTION MENU ITEM LINK -->
    
          </li>
      <!-- /NAVIGATION WIDGET SECTION MENU ITEM -->
      <!-- NAVIGATION WIDGET SECTION MENU ITEM -->
      <li class="navigation-widget-section-menu-item">
        <!-- NAVIGATION WIDGET SECTION MENU ITEM LINK -->
        <a class="navigation-widget-section-menu-item-link" href="https://odindesignthemes.com/vikinger-theme/members/odindesign-themes/groups/">Profile Groups</a>
        <!-- /NAVIGATION WIDGET SECTION MENU ITEM LINK -->
    
          </li>
      <!-- /NAVIGATION WIDGET SECTION MENU ITEM -->
      <!-- NAVIGATION WIDGET SECTION MENU ITEM -->
      <li class="navigation-widget-section-menu-item">
        <!-- NAVIGATION WIDGET SECTION MENU ITEM LINK -->
        <a class="navigation-widget-section-menu-item-link" href="https://odindesignthemes.com/vikinger-theme/members/odindesign-themes/posts/">Profile Blog Posts</a>
        <!-- /NAVIGATION WIDGET SECTION MENU ITEM LINK -->
    
          </li>
      <!-- /NAVIGATION WIDGET SECTION MENU ITEM -->
      <!-- NAVIGATION WIDGET SECTION MENU ITEM -->
      <li class="navigation-widget-section-menu-item">
        <!-- NAVIGATION WIDGET SECTION MENU ITEM LINK -->
        <a class="navigation-widget-section-menu-item-link" href="https://odindesignthemes.com/vikinger-theme/members/odindesign-themes/photos/">Profile Photos</a>
        <!-- /NAVIGATION WIDGET SECTION MENU ITEM LINK -->
    
          </li>
      <!-- /NAVIGATION WIDGET SECTION MENU ITEM -->
      <!-- NAVIGATION WIDGET SECTION MENU ITEM -->
      <li class="navigation-widget-section-menu-item">
        <!-- NAVIGATION WIDGET SECTION MENU ITEM LINK -->
        <a class="navigation-widget-section-menu-item-link" href="https://odindesignthemes.com/vikinger-theme/activity/">Activity</a>
        <!-- /NAVIGATION WIDGET SECTION MENU ITEM LINK -->
    
          </li>
      <!-- /NAVIGATION WIDGET SECTION MENU ITEM -->
      <!-- NAVIGATION WIDGET SECTION MENU ITEM -->
      <li class="navigation-widget-section-menu-item">
        <!-- NAVIGATION WIDGET SECTION MENU ITEM LINK -->
        <a class="navigation-widget-section-menu-item-link" href="https://odindesignthemes.com/vikinger-theme/members/">Members</a>
        <!-- /NAVIGATION WIDGET SECTION MENU ITEM LINK -->
    
          </li>
      <!-- /NAVIGATION WIDGET SECTION MENU ITEM -->
      <!-- NAVIGATION WIDGET SECTION MENU ITEM -->
      <li class="navigation-widget-section-menu-item">
        <!-- NAVIGATION WIDGET SECTION MENU ITEM LINK -->
        <a class="navigation-widget-section-menu-item-link" href="https://odindesignthemes.com/vikinger-theme/groups/">Groups</a>
        <!-- /NAVIGATION WIDGET SECTION MENU ITEM LINK -->
    
          </li>
      <!-- /NAVIGATION WIDGET SECTION MENU ITEM -->
    </ul>
    <!-- /NAVIGATION WIDGET SECTION MENU --></div>
    <!-- /NAVIGATION WIDGET SECTION -->
    <!-- NAVIGATION WIDGET SECTION -->
    <div class="navigation-widget-section ">
      <!-- NAVIGATION WIDGET SECTION TITLE -->
      <p class="navigation-widget-section-title">GamiPress</p>
      <!-- /NAVIGATION WIDGET SECTION TITLE -->
    
    
    <!-- NAVIGATION WIDGET SECTION MENU -->
    <ul class="navigation-widget-section-menu">
      <!-- NAVIGATION WIDGET SECTION MENU ITEM -->
      <li class="navigation-widget-section-menu-item">
        <!-- NAVIGATION WIDGET SECTION MENU ITEM LINK -->
        <a class="navigation-widget-section-menu-item-link" href="https://odindesignthemes.com/vikinger-theme/badges/">Badges</a>
        <!-- /NAVIGATION WIDGET SECTION MENU ITEM LINK -->
    
          </li>
      <!-- /NAVIGATION WIDGET SECTION MENU ITEM -->
      <!-- NAVIGATION WIDGET SECTION MENU ITEM -->
      <li class="navigation-widget-section-menu-item">
        <!-- NAVIGATION WIDGET SECTION MENU ITEM LINK -->
        <a class="navigation-widget-section-menu-item-link" href="https://odindesignthemes.com/vikinger-theme/members/odindesign-themes/badges/">Profile Badges</a>
        <!-- /NAVIGATION WIDGET SECTION MENU ITEM LINK -->
    
          </li>
      <!-- /NAVIGATION WIDGET SECTION MENU ITEM -->
      <!-- NAVIGATION WIDGET SECTION MENU ITEM -->
      <li class="navigation-widget-section-menu-item">
        <!-- NAVIGATION WIDGET SECTION MENU ITEM LINK -->
        <a class="navigation-widget-section-menu-item-link" href="https://odindesignthemes.com/vikinger-theme/quests/">Quests</a>
        <!-- /NAVIGATION WIDGET SECTION MENU ITEM LINK -->
    
          </li>
      <!-- /NAVIGATION WIDGET SECTION MENU ITEM -->
      <!-- NAVIGATION WIDGET SECTION MENU ITEM -->
      <li class="navigation-widget-section-menu-item">
        <!-- NAVIGATION WIDGET SECTION MENU ITEM LINK -->
        <a class="navigation-widget-section-menu-item-link" href="https://odindesignthemes.com/vikinger-theme/members/odindesign-themes/quests/">Profile Quests</a>
        <!-- /NAVIGATION WIDGET SECTION MENU ITEM LINK -->
    
          </li>
      <!-- /NAVIGATION WIDGET SECTION MENU ITEM -->
      <!-- NAVIGATION WIDGET SECTION MENU ITEM -->
      <li class="navigation-widget-section-menu-item">
        <!-- NAVIGATION WIDGET SECTION MENU ITEM LINK -->
        <a class="navigation-widget-section-menu-item-link" href="https://odindesignthemes.com/vikinger-theme/ranks/">Ranks</a>
        <!-- /NAVIGATION WIDGET SECTION MENU ITEM LINK -->
    
          </li>
      <!-- /NAVIGATION WIDGET SECTION MENU ITEM -->
      <!-- NAVIGATION WIDGET SECTION MENU ITEM -->
      <li class="navigation-widget-section-menu-item">
        <!-- NAVIGATION WIDGET SECTION MENU ITEM LINK -->
        <a class="navigation-widget-section-menu-item-link" href="https://odindesignthemes.com/vikinger-theme/members/odindesign-themes/ranks/">Profile Rank</a>
        <!-- /NAVIGATION WIDGET SECTION MENU ITEM LINK -->
    
          </li>
      <!-- /NAVIGATION WIDGET SECTION MENU ITEM -->
      <!-- NAVIGATION WIDGET SECTION MENU ITEM -->
      <li class="navigation-widget-section-menu-item">
        <!-- NAVIGATION WIDGET SECTION MENU ITEM LINK -->
        <a class="navigation-widget-section-menu-item-link" href="https://odindesignthemes.com/vikinger-theme/credits/">Credits</a>
        <!-- /NAVIGATION WIDGET SECTION MENU ITEM LINK -->
    
          </li>
      <!-- /NAVIGATION WIDGET SECTION MENU ITEM -->
      <!-- NAVIGATION WIDGET SECTION MENU ITEM -->
      <li class="navigation-widget-section-menu-item">
        <!-- NAVIGATION WIDGET SECTION MENU ITEM LINK -->
        <a class="navigation-widget-section-menu-item-link" href="https://odindesignthemes.com/vikinger-theme/members/odindesign-themes/credits/">Profile Credits</a>
        <!-- /NAVIGATION WIDGET SECTION MENU ITEM LINK -->
    
          </li>
      <!-- /NAVIGATION WIDGET SECTION MENU ITEM -->
    </ul>
    <!-- /NAVIGATION WIDGET SECTION MENU --></div>
    <!-- /NAVIGATION WIDGET SECTION -->
    <!-- NAVIGATION WIDGET SECTION -->
    <div class="navigation-widget-section ">
      <!-- NAVIGATION WIDGET SECTION TITLE -->
      <p class="navigation-widget-section-title">bbPress</p>
      <!-- /NAVIGATION WIDGET SECTION TITLE -->
    
    
    <!-- NAVIGATION WIDGET SECTION MENU -->
    <ul class="navigation-widget-section-menu">
      <!-- NAVIGATION WIDGET SECTION MENU ITEM -->
      <li class="navigation-widget-section-menu-item">
        <!-- NAVIGATION WIDGET SECTION MENU ITEM LINK -->
        <a class="navigation-widget-section-menu-item-link" href="https://odindesignthemes.com/vikinger-theme/forums/">Forums</a>
        <!-- /NAVIGATION WIDGET SECTION MENU ITEM LINK -->
    
          </li>
      <!-- /NAVIGATION WIDGET SECTION MENU ITEM -->
      <!-- NAVIGATION WIDGET SECTION MENU ITEM -->
      <li class="navigation-widget-section-menu-item">
        <!-- NAVIGATION WIDGET SECTION MENU ITEM LINK -->
        <a class="navigation-widget-section-menu-item-link" href="https://odindesignthemes.com/vikinger-theme/forums/forum/animation-watchtower/">SubForums</a>
        <!-- /NAVIGATION WIDGET SECTION MENU ITEM LINK -->
    
          </li>
      <!-- /NAVIGATION WIDGET SECTION MENU ITEM -->
      <!-- NAVIGATION WIDGET SECTION MENU ITEM -->
      <li class="navigation-widget-section-menu-item">
        <!-- NAVIGATION WIDGET SECTION MENU ITEM LINK -->
        <a class="navigation-widget-section-menu-item-link" href="https://odindesignthemes.com/vikinger-theme/forums/topic/lets-discuss-the-current-state-of-the-comics-cinematic-universe/">Open Topic</a>
        <!-- /NAVIGATION WIDGET SECTION MENU ITEM LINK -->
    
          </li>
      <!-- /NAVIGATION WIDGET SECTION MENU ITEM -->
      <!-- NAVIGATION WIDGET SECTION MENU ITEM -->
      <li class="navigation-widget-section-menu-item">
        <!-- NAVIGATION WIDGET SECTION MENU ITEM LINK -->
        <a class="navigation-widget-section-menu-item-link" href="https://odindesignthemes.com/vikinger-theme/members/odindesign-themes/forums/">Profile Forum Activity</a>
        <!-- /NAVIGATION WIDGET SECTION MENU ITEM LINK -->
    
          </li>
      <!-- /NAVIGATION WIDGET SECTION MENU ITEM -->
      <!-- NAVIGATION WIDGET SECTION MENU ITEM -->
      <li class="navigation-widget-section-menu-item">
        <!-- NAVIGATION WIDGET SECTION MENU ITEM LINK -->
        <a class="navigation-widget-section-menu-item-link" href="https://odindesignthemes.com/vikinger-theme/members/odindesign-themes/forums/replies/">Profile Forum Replies</a>
        <!-- /NAVIGATION WIDGET SECTION MENU ITEM LINK -->
    
          </li>
      <!-- /NAVIGATION WIDGET SECTION MENU ITEM -->
      <!-- NAVIGATION WIDGET SECTION MENU ITEM -->
      <li class="navigation-widget-section-menu-item">
        <!-- NAVIGATION WIDGET SECTION MENU ITEM LINK -->
        <a class="navigation-widget-section-menu-item-link" href="https://odindesignthemes.com/vikinger-theme/members/odindesign-themes/forums/engagements/">Profile Forum Engagement</a>
        <!-- /NAVIGATION WIDGET SECTION MENU ITEM LINK -->
    
          </li>
      <!-- /NAVIGATION WIDGET SECTION MENU ITEM -->
      <!-- NAVIGATION WIDGET SECTION MENU ITEM -->
      <li class="navigation-widget-section-menu-item">
        <!-- NAVIGATION WIDGET SECTION MENU ITEM LINK -->
        <a class="navigation-widget-section-menu-item-link" href="https://odindesignthemes.com/vikinger-theme/members/odindesign-themes/forums/favorites/">Profile Forum Favorites</a>
        <!-- /NAVIGATION WIDGET SECTION MENU ITEM LINK -->
    
          </li>
      <!-- /NAVIGATION WIDGET SECTION MENU ITEM -->
    </ul>
    <!-- /NAVIGATION WIDGET SECTION MENU --></div>
    <!-- /NAVIGATION WIDGET SECTION -->
    <!-- NAVIGATION WIDGET SECTION -->
    <div class="navigation-widget-section ">
      <!-- NAVIGATION WIDGET SECTION TITLE -->
      <p class="navigation-widget-section-title">More Links</p>
      <!-- /NAVIGATION WIDGET SECTION TITLE -->
    
    
    <!-- NAVIGATION WIDGET SECTION MENU -->
    <ul class="navigation-widget-section-menu">
      <!-- NAVIGATION WIDGET SECTION MENU ITEM -->
      <li class="navigation-widget-section-menu-item">
        <!-- NAVIGATION WIDGET SECTION MENU ITEM LINK -->
        <a class="navigation-widget-section-menu-item-link" href="https://odindesignthemes.com/vikinger-theme/groups/cosplayers-of-the-world/">Group Timeline</a>
        <!-- /NAVIGATION WIDGET SECTION MENU ITEM LINK -->
    
          </li>
      <!-- /NAVIGATION WIDGET SECTION MENU ITEM -->
      <!-- NAVIGATION WIDGET SECTION MENU ITEM -->
      <li class="navigation-widget-section-menu-item">
        <!-- NAVIGATION WIDGET SECTION MENU ITEM LINK -->
        <a class="navigation-widget-section-menu-item-link" href="https://odindesignthemes.com/vikinger-theme/groups/cosplayers-of-the-world/members/">Group Members</a>
        <!-- /NAVIGATION WIDGET SECTION MENU ITEM LINK -->
    
          </li>
      <!-- /NAVIGATION WIDGET SECTION MENU ITEM -->
      <!-- NAVIGATION WIDGET SECTION MENU ITEM -->
      <li class="navigation-widget-section-menu-item">
        <!-- NAVIGATION WIDGET SECTION MENU ITEM LINK -->
        <a class="navigation-widget-section-menu-item-link" href="https://odindesignthemes.com/vikinger-theme/groups/cosplayers-of-the-world/photos/">Group Photos</a>
        <!-- /NAVIGATION WIDGET SECTION MENU ITEM LINK -->
    
          </li>
      <!-- /NAVIGATION WIDGET SECTION MENU ITEM -->
      <!-- NAVIGATION WIDGET SECTION MENU ITEM -->
      <li class="navigation-widget-section-menu-item">
        <!-- NAVIGATION WIDGET SECTION MENU ITEM LINK -->
        <a class="navigation-widget-section-menu-item-link" href="https://odindesignthemes.com/vikinger-theme/">Landing</a>
        <!-- /NAVIGATION WIDGET SECTION MENU ITEM LINK -->
    
          </li>
      <!-- /NAVIGATION WIDGET SECTION MENU ITEM -->
      <!-- NAVIGATION WIDGET SECTION MENU ITEM -->
      <li class="navigation-widget-section-menu-item">
        <!-- NAVIGATION WIDGET SECTION MENU ITEM LINK -->
        <a class="navigation-widget-section-menu-item-link" href="https://odindesignthemes.com/vikinger-theme/blog/">Blog</a>
        <!-- /NAVIGATION WIDGET SECTION MENU ITEM LINK -->
    
          </li>
      <!-- /NAVIGATION WIDGET SECTION MENU ITEM -->
      <!-- NAVIGATION WIDGET SECTION MENU ITEM -->
      <li class="navigation-widget-section-menu-item">
        <!-- NAVIGATION WIDGET SECTION MENU ITEM LINK -->
        <a class="navigation-widget-section-menu-item-link" href="https://odindesignthemes.com/vikinger-theme/groups/gaming-watchtower/">Private Group</a>
        <!-- /NAVIGATION WIDGET SECTION MENU ITEM LINK -->
    
          </li>
      <!-- /NAVIGATION WIDGET SECTION MENU ITEM -->
    </ul>
    <!-- /NAVIGATION WIDGET SECTION MENU --></div>
    <!-- /NAVIGATION WIDGET SECTION --></nav>
    <!-- /NAVIGATION WIDGET -->
    