
<!DOCTYPE html>
<html lang="en">
 
    {% include adminhead.html %}

  <body class="layout layout-header-fixed">
    <div class="layout-header">
     
        {% include adminnav.html %}

    </div>
    <div class="layout-main">
    
        {% include adminsidebar.html %}


      <div class="layout-content">
       
        {{ content }}

      </div>
     
      {% include adminfooter.html %}

    </div>
    <script src="../js/vendor.min.js"></script>
    <script src="../js/elephant.min.js"></script>
    <script src="../js/application.min.js"></script>
    <script src="../js/demo.min.js"></script>
   
  </body>
</html>