<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Candlestick</title>
</head>
<link rel="stylesheet" href="../css/main.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<body>
    <script src="../js/d3.v5.min.js"></script>
    <script type="text/javascript" src="../js/lodash.min.js"></script>
    <script src="../js/scripta.js"></script>
    <svg id="container"></svg>
    
</body>
</html>