<html><head></head><body>
<form name="person">
    <input id="name" name="name" value="John">
    <input name="surname" value="Smith">
  </form>
  <button type="button" onclick="loadDoc()">Change Content</button>
  <script>
      function loadDoc() {
    // pre-fill FormData from the form
   // let formData = new FormData(document.forms.person);
  
    // add one more field
   // formData.append("middle", "Lee");
  
    // send it out
    var data1 = document.getElementById('name').value;
    var data2 = "ered.com";
    let xhr = new XMLHttpRequest();
    xhr.open("POST", "https://infinityidnode.herokuapp.com/api/auth/signin");
    xhr.setRequestHeader("cache-control", "no-cache");
    xhr.setRequestHeader("content-type", "application/json");

    xhr.onreadystatechange = function () {
   if (xhr.readyState === 4) {
      console.log(xhr.status);
      console.log(xhr.responseText);
   }};

    var data = `{
	"email": "` + data2 + `",
	"password": "1234567",
	"username":"comeface",
	"roles": ["user"]
    }`;
    xhr.send(data);
    xhr.onload = () => alert(xhr.response);
}
  </script>
  </body></html>
