<html>
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

  <title>Signin Template for Bootstrap</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">
  <script type="text/javascript" language="javascript" src="/js/loginscript.js"></script>
   <script type="text/javascript" language="javascript" src="/js/jquery.js"></script>
  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/style.css" type="text/css" rel="stylesheet"/>
<link href="/signin.css" rel="stylesheet">
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript">
function do_login()
{
 var email=$("#emailid").val();
 var pass=$("#password").val();
 if(email!="" && pass!="")
 {
 /* $("#loading_spinner").css({"display":"block"});*/
  $.ajax
  ({
  type:'post',
  url:'https://infinity-id.herokuapp.com/viewphp.php',
  data:{
   do_login:"do_login",
   email:email,
   password:pass
  },
  success:function(response) {
  if(response=="success")
  {
    window.location.href="/dashboard";
  }
  else
  {
   /* $("#loading_spinner").css({"display":"none"});*/
    alert("Wrong Details");
  }
  }
  });
 } 

 else
 {
  alert("Please Fill All The Details");
 }

 return false;
}
</script>
</head>
<body>


<div class="container">
    {% include nav2.html %}
    <h2>Login Here </h2>
    <form method="post" action="https://infinity-id.herokuapp.com/connect11.php" onsubmit="return do_login();">
    
       
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="emailid" placeholder="Enter email" name="email">
      </div>
      
       
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password" name="pwd">
      </div>
       
      <input type="submit" name="submit" class="btn btn-primary" value="Submit" id="login_button">
    </form>
  </div>

</body>
</html>
