
<!DOCTYPE html>
<html lang="en-GB">
<head>

    {% include userhead.html %}

</head>
<body class="home-page bp-legacy home page-template-default page page-id-174 wp-custom-logo vikinger-logged-out elementor-default elementor-kit-23 elementor-page elementor-page-174 no-js">

    {% include usernavigation.html %}

<!-- HEADER -->

    {% include userheader.html %}

<!-- /HEADER -->	
	{% include userbody.html %}
		
<!-- FOOTER WRAP -->

    {% include userfooter.html %}


<!-- /FOOTER WRAP -->

    {% include userscripts.html %}
 
</body>
</html>